<h1>New Club</h1>

<form action="/create_club">
  <div>
    <label for="name">name</label><br />
    <input id="name" name="name" type="text" />
  </div>
  <div>
    <label for="teacher_id">teacher_id</label><br />
    <input id="teacher_id" name="teacher_id" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

