<h1>New Club</h1>

<form action="/create_club">
  
  <div class="input-group edit">
    <span class="input-group-addon">Club name</span>
      <input type="text" class="form-control" placeholder="ex: Robotics Team" name="name">
  </div>
  
  <div class="input-group edit">
    <span class="input-group-addon">Sponsoring teacher for this club</span>
    <select name="teacher_id">
      <% Teacher.all.each do |teacher| %>
        <option value="<%= teacher.id %>"><%= teacher.name %></option>
      <% end %>
    </select> 
  </div>
  
  <div>
     <input type="submit" class="btn btn-primary"> <a href onclick="goBack()">&nbsp; cancel</a>
  </div>
</form>

