<h1>New Teacher</h1>

<form action="/create_teacher">
  <div class="input-group">
    <span class="input-group-addon">Teacher name</span>
      <input type="text" class="form-control" placeholder="First Last" name="name">
  </div>
  
  <div class="input-group">
    <span class="input-group-addon">Email address</span>
      <input type="text" class="form-control" placeholder="someone@yahoo.com" name="email">
  </div>
  
  <div class="input-group">
    <span class="input-group-addon">Department</span>
      <input type="text" class="form-control" placeholder="math" name="department">
  </div>
 
  <div>
    <label for="bio">Bio</label><br />
    <input id="bio" name="bio" type="text" />
  </div>
  <div>
    <label for="image_url">Image URL</label><br />
    <input id="image_url" name="image_url" type="text" />
  </div>
  <div>
    <label for="location">Room location</label><br />
    <input id="location" name="location" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

