<h1>New Course</h1>

<form action="/create_course">
  
  <div>
    <label for="name">Course Name</label><br />
    <input id="name" name="name" type="text" />
  </div>
  
  <div>
    <label for="description">Description</label><br />
    <input id="description" name="description" type="text" />
  </div>
  
  <div>
    <label for="teacher_id">Teacher</label><br />
    <select name="teacher_id">
      <% Teacher.all.each do |teacher| %>
      <option value="<%= teacher.id %>"><%= teacher.id %> <%= teacher.name %></option>
      <% end %>
    </select>
  </div>
  
  <div>
    <input type="submit">
  </div>
  
</form>

